{form name='recaptcha'}
    <div class="mb-3 row">
        {label name='siteKey'}
        <div class="col-sm-8">
            {input name='siteKey'}
            {help name='siteKey'}
            {error name='siteKey'}
        </div>
    </div>
    <div class="mb-3 row">
        {label name='secretKey'}
        <div class="col-sm-8">
            {input name='secretKey'}
            {help name='secretKey'}
            {error name='secretKey'}
        </div>
    </div>
    <div class="d-grid gap-2">
        {submit name='submit' class='btn btn-primary'}
    </div>
{/form}