{form name='settings'}
    <div class="mb-3 row">
        {label name='enableCaptcha'}
        <div class="col-sm-8">
            {input name='enableCaptcha'}
            {desc name='enableCaptcha'}
            {error name='enableCaptcha'}
        </div>
    </div>
    <div class="mb-3 row">
        {label name='captchaType'}
        <div class="col-sm-8">
            {input name='captchaType'}
            {desc name='captchaType'}
            {error name='captchaType'}
        </div>
    </div>
    <div class="d-grid gap-2">
        {submit name='submit' class='btn btn-primary'}
    </div>
{/form}